# General stuff
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env/
.env.bak/
.venv/
build/
dist/
*.egg-info/
*.egg
.eggs/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Logs/temp
*.log
*.pot
*.pyc
*.pyo

# Project
*.sqlite3
db.sqlite3
pyrightconfig.json

# Django
/media/
staticfiles/
local_settings.py
