# Python stuff
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.env.bak/
.venv/
build/
dist/
*.egg-info/
*.egg
.eggs/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Logs/temp
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Django
/media/
staticfiles/
local_settings.py

# General
.env
