{% extends "base.html" %}

{% block title %}Announcements - CS Dept Platform{% endblock %}

{% block content %}

<h2>Announcements</h2>

{% if announcements %}

    {% for a in announcements %}

        <div class="card" style="margin-bottom: 12px">
            <div style="font-weight: 600">
                {{ a.title }} {% if a.pinned %}📌{% endif %}
            </div>

            <div style="font-size: 12px; color: #6b7280">
                by {{ a.creator.username }} · {{ a.creation_date|date:"d-m-Y H:i" }}
            </div>

            <p>{{ a.body|linebreaksbr }}</p>
        </div>

    {% endfor %}

{% else %}

    <p>No announcements available.</p>

{% endif %}

{% endblock %}
