{% extends "base.html" %}

{% block title %}Login - CS Dept Platform{% endblock %}

{% block content %}

<div class="card auth-card">
    <div class="auth-card__header">
        <i class="fa-solid fa-arrow-right-to-bracket auth-card__icon"></i>

        <h2 class="auth-card__title">Login</h2>
    </div>

    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="auth-card__submit">
            <i class="fa-solid fa-arrow-right-to-bracket auth-card__submit-icon"></i>

            Login

        </button>
    </form>

    <div class="auth-card__footer">
        <p class="auth-card__footer-text">

            Don't have an account?

            <a href="{% url 'signup' %}" class="auth-card__footer-link">Signup here</a>
        </p>
    </div>
</div>

{% endblock %}
